.main {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;

   border: .1em;
   border-style: solid;
   border-radius: 1em;

   padding: .5em;

   margin: 2em;

   color: rgb(170,125,255);
}