.main {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   margin-left: 2em;
   margin-right: 2em;
   color: rgb(89,59,176);
   height: 5em;
   border-bottom: .2em;
   border-bottom-style: solid;
   border-color: rgb(89,59,176);
}

.main a:hover{
   color: rgb(170,125,255) !important;
}

.main a:nth-last-of-type(5) {
   border-top-left-radius: 18%;
}

.main a:nth-last-of-type(1) {
   border-top-right-radius: 18%;
}

.selectedTab {
   font-size: 20px;
   color: rgb(170,125,255) !important;
   border-bottom: .2em;
   border-bottom-style: solid;
   border-color: rgb(201, 44, 12);
}

.unselectedTab {
   font-size: 20px;
   background-color: none;
}





